<div data-controller="web3">
  <div data-web3-target="disconnectedDiv">
    <button style="display: block; margin: 0 auto; visibility: hidden"></button>
    <button style="display:block; margin: 0 auto; visibility: hidden" data-web3-target="actionButton" data-action="web3#connectToMM">Connect to MetaMask</button>
  </div>
  <div data-web3-target="connectedDiv">
    <div style="visibility: hidden" data-web3-target="proppedDiv">
      <%#Address: <span data-web3-target="address"></span><br>%>
      <%#Fantom: <span data-web3-target="balance"></span> FTM<br>%>
      <%#PropsCoin: <span data-web3-target="prpBalance"></span> PRP%>
      <h2 style="text-align: center; color: #007FFF; positon: fixed">#PropsNation</h2>
      <div style="position: fixed" class="tenor-gif-embed" data-postid="21488302" data-share-method="host" data-aspect-ratio="1.76796" data-width="100%"><a href="https://tenor.com/view/michael-scott-dwight-schrute-the-office-raise-the-roof-gif-21488302">Michael Scott Dwight Schrute GIF</a>from <a href="https://tenor.com/search/michael+scott-gifs">Michael Scott GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
  </div>
</div>
